{% extends "user_invoice/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
 *
{
	border: 0;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;
}
*[contenteditable] { border-radius: 0.25em; min-width: 1em; outline: 0; }

*[contenteditable] { cursor: pointer; }

*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover { background: #DEF; box-shadow: 0 0 1em 0.5em #DEF; }

span[contenteditable] { display: inline-block; }

/* heading */

h1 { font: bold 100% sans-serif; letter-spacing: 0.5em; text-align: center; text-transform: uppercase; }
table { font-size: 75%; table-layout: fixed; width: 100%; }
table { border-collapse: collapse; border-spacing: 2px; }
th, td { border-width: 0px; padding: 0.5em; position: relative;  }
th, td { border-radius: 0.25em; border-style: solid; }
th { background: #EEE; border-color: #BBB; }
td { border-color: #DDD; }

html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }
html { background: #999; cursor: default; }

body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); }


header { margin: 0 0 3em; }
header:after { clear: both; content: ""; display: table; }

header h1 { background: #000; border-radius: 0.25em; color: #FFF; margin: 0 0 1em; padding: 0.5em 0; }
header address { float: left; font-size: 75%; font-style: normal; line-height: 1.25; margin: 0 1em 1em 0; }
header address p { margin: 0 0 0.25em; }
header span, header img { display: block; float: right; }
header span { margin: 0 0 1em 1em; max-height: 25%; max-width: 60%; position: relative; }
header img { max-height: 100%; max-width: 100%; }
header input { cursor: pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 100%; }

/* article */

article, article address, table.meta, table.inventory { margin: 0 0 3em; }
article:after { clear: both; content: ""; display: table; }
article h1 { clip: rect(0 0 0 0); position: absolute; }

article address { float: left; font-size: 125%; font-weight: bold; }

/* table meta & balance */

table.meta, table.balance { float: right; width: 36%; }
table.meta:after, table.balance:after { clear: both; content: ""; display: table; }

/* table meta */

table.meta th { width: 40%; }
table.meta td { width: 60%; }

/* table items */

table.inventory { clear: both; width: 100%; }
table.inventory th { font-weight: bold; text-align: center; }

table.inventory td:nth-child(1) { width: 26%; }
table.inventory td:nth-child(2) { width: 38%; }
table.inventory td:nth-child(3) { text-align: right; width: 12%; }
table.inventory td:nth-child(4) { text-align: right; width: 12%; }
table.inventory td:nth-child(5) { text-align: right; width: 12%; }

/* table balance */

table.balance th, table.balance td { width: 50%; }
table.balance td { text-align: right; }

/* aside */

aside h1 { border: none; border-width: 0 0 1px; margin: 0 0 1em; }
aside h1 { border-color: #999; border-bottom-style: solid; }

/* javascript */





.add { margin: -2.5em 0 0; }

.add:hover { background: #00ADEE; }

.cut { opacity: 0; position: absolute; top: 0; left: -1.5em; }
.cut { -webkit-transition: opacity 100ms ease-in; }

tr:hover .cut { opacity: 1; }

@media print {
	* { -webkit-print-color-adjust: exact; }
	html { background: none; padding: 0; }
	body { box-shadow: none; margin: 0; }
	span:empty { display: none; }
	.add, .cut { display: none; }
}

@page { margin: 0; }

    </style>
     
    <div class='container'>	

        <legend class="border-bottom mb-4" style="color: rgb(15, 9, 105);text-align: center;text-decoration: underline;"><b>Leave Request</b> </legend> 


		<table  width="100%">
            <div class="row" style="margin-bottom: 40px;">
                <div class="column" style="background-color:white;">
                  <label for="name" style="color: teal;"><b> Name: </b></label>
                  <input type="text" id="fname" name="firstname" placeholder="Enter your name" class="form-control" style="margin-bottom: 20px;">

                        <div class="tasksInput">
                        	<form method='post'>
                      		 {% csrf_token %}
                                <div class="pure-css-select-style theme-default-w-line" class="form-control">
                                    <select class="custom-select" id ="leave_type" name="leave_type" style="font-weight: bold;margin-bottom: 20px;width :145px;color: teal;">
                                        <option selected style="font-weight: bold;color: black;">Leave Type</option>
                                        <option value="sl" style="color: teal;font-weight: bold ;"><b>Sick Leave </b></option>
                                        <option value="cl" style="color: teal;font-weight: bold;"><b> Casual Leave</b></option>
                                        <option value="el" style="color: teal;font-weight: bold;"><b> Earned Leave </b></option>
                                    </select>
                                </div>
                          

                         
                          <p ><b style="color: teal;"> Begin Date :<br></b> <input type="date" id="begin_date"  style="background-color: yellow;color: black;" name="from_date" ></p>
                          <p ><b style="color: teal;"> End Date :<br></b><input type="date" id="end_date" style="background-color: yellow;color: black; " name="to_date" ></p>
                          <label for="male" style="color: teal;"><b> Availabe Days: </b></label>
                          <input type="text" name="available_days" id="available_days"  class="form-control" maxlength="2">
                          <label for="male" style="color: teal;"><b> Requesting Days: </b></label>
                          <input type="text" id="requesting_days" name="requesting_days"   class="form-control"  maxlength="2">
                          <label for="male" style="color: teal;"><b> Reasons/Comments: </b></label>
                          <textarea name="reason_msg"   class="form-control" style="margin-bottom: 20px;height: 80px;"></textarea>
                          <input type="hidden" value="{{employee.id}}" id="hiddenemp">
                          <button type="submit" class="btn btn-primary shadow-none" style="background-color: #6a57be;border: none;margin-bottom: 100px;"><b>{{submit}}</b></button>
                      	</form>
                        </div>
                </div>
                <div class="column" style="background-color:rgb(236, 228, 228);">
                    
                    <legend class="border-bottom mb-4" style="color:green;text-align: center;text-decoration: underline;"><b>Leave Balalnce</b> </legend> 
                    <div class="table" id="results">
                        <div class='theader'>
                          <div class='table_header'>Sick Leave</div>
                          <div class='table_header'>Causal Leave</div>
                          <div class='table_header'>Earned Leave</div>
                          
                        </div>
                        <div class='table_row'>
                          <div class='table_small'>
                            <div class='table_cell'>Sick Leave</div>
                            <div class='table_cell'>{{rem_leaves.sick_leave}}</div>
                          </div>
                          <div class='table_small'>
                            <div class='table_cell'>Casual Leave</div>
                            <div class='table_cell'>{{rem_leaves.casual_leave}}</div>
                          </div>
                          <div class='table_small'>
                            <div class='table_cell'>Earned Leave</div>
                            <div class='table_cell'>{{rem_leaves.earned_leave}}</div>
                          </div>                         
                        </div>
                    </div>
                    {% if leave_requests %}
                    <legend class="border-bottom mb-4" style="color:green;text-align: center;text-decoration: underline;"><b>Requested leaves for this month</b> </legend>
                    <div class="table" id="results">
                        <div class='theader'>
                          <div class='table_header'>Leave Type</div>
                          <div class='table_header'>Available Days</div>
                          <div class='table_header'>Requesting Days</div>
                          <div class='table_header'>Status</div>
                          
                        </div>
                        {% for requests in leave_requests %}
                        <div class='table_row'>
                          <div class='table_small'>
                            <div class='table_cell'>Leave Type</div>
                            <div class='table_cell'>{{requests.leave_type|upper}}</div>
                          </div>
                          <div class='table_small'>
                            <div class='table_cell'>Available Days</div>
                            <div class='table_cell'>{{requests.available_days}}</div>
                          </div>
                          <div class='table_small'>
                            <div class='table_cell'>Requesting Days</div>
                            <div class='table_cell'>{{requests.requesting_days}}</div>
                          </div>  
                          <div class='table_small'>
                            <div class='table_cell'>Status</div>
                            <div class='table_cell'>{% if requests.status == 0 %}<span style='color:orange'>Pending</span>{% elif requests.status == 1 %}<span style='color:green'>Approved</span>{% else %}<span style='color:red'>Declined</span>{% endif %}</div>
                          </div>                        
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                  
                </div>
            </div>  
            
		</table>
          
    </div>
      

    <style>


* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 580px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.table {
    display: table;
    text-align: center;
    width: 100%;
    margin: 10% auto 0;
    border-collapse: separate;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  
  .table_row {
    display: table-row;
  }
  
  .theader {
    display: table-row;
  }
  
  .table_header {
    display: table-cell;
    border-bottom: rgb(17, 16, 16) 1px solid;
    border-top: rgb(17, 17, 17) 1px solid;
    background: #bdbdbd;
    color: #161515;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
  }
  
  .table_header:first-child {
    border-left: rgb(17, 16, 16) 1px solid;
    border-top-left-radius: 5px;
  }
  
  .table_header:last-child {
    border-right: rgb(17, 16, 16) 1px solid;
    border-top-right-radius: 5px;
  }
  
  .table_small {
    display: table-cell;
  }
  
  .table_row > .table_small > .table_cell:nth-child(odd) {
    display: none;
    background: #f5f2f2;
    color: #131212;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .table_row > .table_small > .table_cell {
    padding-top: 3px;
    padding-bottom: 3px;
    color: #0f0f0f;
    border-bottom: rgb(12, 12, 12) 1px solid;
  }
  
  .table_row > .table_small:first-child > .table_cell {
    border-left: rgb(12, 11, 11) 1px solid;
  }
  
  .table_row > .table_small:last-child > .table_cell {
    border-right: rgb(12, 12, 12) 1px solid;
  }
  
  .table_row:last-child > .table_small:last-child > .table_cell:last-child {
    border-bottom-right-radius: 5px;
  }
  
  .table_row:last-child > .table_small:first-child > .table_cell:last-child {
    border-bottom-left-radius: 5px;
  }
  
  .table_row:nth-child(2n+3) {
    background:rgb(236, 228, 228);
}

  }
  
  @media screen and (max-width: 900px) {
    .table {
      width: 90%
    }
  }
  
  @media screen and (max-width: 650px) {
    .table {
      display: block;
    }
    .table_row:nth-child(2n+3) {
      background: none;
    }
    .theader {
      display: none;
    }
    .table_row > .table_small > .table_cell:nth-child(odd) {
      display: table-cell;
      width: 50%;
    }
    .table_cell {
      display: table-cell;
      width: 50%;
    }
    .table_row {
      display: table;
      width: 100%;
      border-collapse: separate;
      padding-bottom: 20px;
      margin: 5% auto 0;
      text-align: center;
    }
    .table_small {
      display: table-row;
    }
    .table_row > .table_small:first-child > .table_cell:last-child {
      border-left: none;
    }
    .table_row > .table_small > .table_cell:first-child {
      border-left: rgb(14, 13, 13) 1px solid;
    }
    .table_row > .table_small:first-child > .table_cell:first-child {
      border-top-left-radius: 5px;
      border-top: rgb(12, 12, 12) 1px solid;
    }
    .table_row > .table_small:first-child > .table_cell:last-child {
      border-top-right-radius: 5px;
      border-top: rgb(14, 13, 13) 1px solid;
    }
    .table_row > .table_small:last-child > .table_cell:first-child {
      border-right: none;
    }
    .table_row > .table_small > .table_cell:last-child {
      border-right: rgb(8, 8, 8) 1px solid;
    }
    .table_row > .table_small:last-child > .table_cell:first-child {
      border-bottom-left-radius: 5px;
    }
    .table_row > .table_small:last-child > .table_cell:last-child {
      border-bottom-right-radius: 5px;
    }
  }
    </style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
	$("#leave_type").change(function () {
		var leave_type = $(this).val();
		var emp        = $("#hiddenemp").val();
		$.ajax({
			url  : '{% url "leave_bal" %}',
			data : {
						leave_type  : leave_type,
						emp         : emp,
					},
			type : 'GET',
			dataType: 'json',
			success: function (data) {
			  $("#available_days").val(data.leave)
			}
		});

    });

    $("#requesting_days").click(function(){
    	if($(this).val()==""){
	    	var begin_date = new Date($("#begin_date").val())
	    	var end_date   = new Date($("#end_date").val())
	    	var Difference_In_Time = end_date.getTime() - begin_date.getTime();
	    	var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);  
	    	$("#requesting_days").val(Difference_In_Days+1)
	    }
    	//alert(Difference_In_Days+1)
    })
</script>
{% endblock content %}

