{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/letter.css' %}">
	<style>
		@page {
			margin: 0;
		}
		
		.head{
			text-align: right;
		}
		
		div.para{
			word-spacing: 5px;
			text-align:justify;
		}
		
		div.address{
			margin-top:100px;
			margin-right:80px;
			line-height: 10px;
		}
		
		.heading{
			margin-left: -10rem;
			margin-top:6rem;
		}
		
		td{
			text-align: right;
		}
	</style>
</head>

<body>
	{% include 'user_invoice/navbar.html' %}
	<div class="container">
		{% block content %}
		
		
		{% endblock content %}
	</div>

</body>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/aa2decd2e9.js"></script>

</html>