
{% extends "user_invoice/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<p class='heading' style="color: teal;text-decoration: underline;"> Rates</p>
<div class='container'>
  <div class='table'>
    <div class='fix-div'>
      <div>Description</div>
      <div style="margin-left: 100px;">Rate</div>
   
    </div>
<form method="post">    
	{% csrf_token %}
    <div class='tbody'>
      <div class='first'>
        <div>Base ir rate</div>
        <div>Base br rate</div>
        <div>Total pay fixed(store '1')</div> 
        <div>Difficult & non productive source rate(IR)</div>  
        <div>Extra hours worked rate(IR)</div>
        <div>File attached rate(IR)</div>
        <div>Add authorized days worked rate(IR)</div>
        <div>New entities added rate(BR)</div>
        <div>Extra days worked rate(BR)</div>
        <div>Duplicate entities rate(BR)</div>
        <div>Errors rate(BR)</div>
        <div>Fines rate(BR)</div>
        <div>Duplicate solic rate</div>

        <div>Entity/Contact wrong/incomplete/not edited rate</div>
        <div>False referal rate</div>
        <div>Fraudulent solicitation 'update' rate</div> 
        <div>Source returned without good reason rate</div>  
        <div>Missed Bid Bond/Incomplete Plans & Specs rate</div>
        <div>Missed categories rate</div>
        <div>Missed Solic./Addend. From Source rate</div>
        <div>Missed/Incorrect File Type rate</div>
        <div>Missing or Wrong Outside Link rate</div>
        <div>Missing or wrong Term Contract rate</div>
        <div>Not Posted As Lead rate</div>
        <div>Other error rate</div>
        <div>Other serious error rate</div>

        <div>Refreshing WDS page to a different source rate</div>
        <div>Setaside/Prequalification/Prevailing Wage not selected rate</div>
        <div>Skipped solicitation rate</div> 
        <div>Source returned without a note rate</div>  
        <div>Unexcused/unjustified absence rate</div>
        <div>Wrong bid/pre-bid, mandatory rate</div>
        <div>Wrong categories rate</div>
        <div>Wrong geographic location rate</div>
        <div>Incomplete or incorrect scope rate</div>
        <div>Wrong text format rate</div>
        <div>Authorized day off rate</div>
        <div>Unauthorized day off rate</div>       
      </div>
    <div class='second' style="margin-left: 100px;">
      <input name="base_ir" value="{{rate.base_ir}}" style="margin-bottom: 15px;margin-top: 10px;" required>
      <input name="base_br" value="{{rate.base_br}}" style="margin-bottom: 15px;" required>
      <input name="total_pay" value="{{rate.total_pay}}" style="margin-bottom: 15px;" required> 
      <input name="difficultnp" value="{{rate.difficultnp}}" style="margin-bottom: 15px;" required>    
      <input name="extra_hours" value="{{rate.extra_hours}}" style="margin-bottom: 15px;"required> 
      <input name="file_attach" value="{{rate.file_attach}}" style="margin-bottom: 15px;"required> 
      <input name="add_auth_days" value="{{rate.add_auth_days}}" style="margin-bottom: 15px;"required> 
      <input name="new_entities_added" value="{{rate.new_entities_added}}" style="margin-bottom: 15px;"required> 
      <input name="extra_days" value="{{rate.extra_days}}" style="margin-bottom: 15px;"required> 
      <input name="duplicate_entities" value="{{rate.duplicate_entities}}" style="margin-bottom: 15px;"required> 
      <input name="errors" value="{{rate.errors}}" style="margin-bottom: 15px;"required> 
      <input name="fines" value="{{rate.fines}}" style="margin-bottom: 15px;"required> 
      <input name="duplicate_solic" value="{{rate.duplicate_solic}}" style="margin-bottom: 15px;"required> 
      <input name="entity_cont_wrong" value="{{rate.entity_cont_wrong}}" style="margin-bottom: 15px;"required> 
      <input name="false_referal" value="{{rate.false_referal}}" style="margin-bottom: 15px;"required> 
      <input name="fraudsolic_update" value="{{rate.fraudsolic_update}}" style="margin-bottom: 15px;"required> 
      <input name="source_ret_wo_res" value="{{rate.source_ret_wo_res}}" style="margin-bottom: 15px;"required> 
      <input name="missed_bond" value="{{rate.missed_bond}}" style="margin-bottom: 15px;"required> 
      <input name="missed_categories" value="{{rate.missed_categories}}" style="margin-bottom: 15px;"required> 
      <input name="missed_solic_src" value="{{rate.missed_solic_src}}" style="margin-bottom: 15px;"required> 
      <input name="missed_file" value="{{rate.missed_file}}" style="margin-bottom: 15px;"required> 
      <input name="missed_link" value="{{rate.missed_link}}" style="margin-bottom: 15px;"required> 
      <input name="missed_term" value="{{rate.missed_term}}" style="margin-bottom: 15px;"required> 
      <input name="not_posted_lead" value="{{rate.not_posted_lead}}" style="margin-bottom: 15px;"required> 
      <input name="other_error" value="{{rate.other_error}}" style="margin-bottom: 15px;"required> 
      <input name="other_serious_err" value="{{rate.other_serious_err}}" style="margin-bottom: 15px;"required> 
      <input name="refreshing_wds" value="{{rate.refreshing_wds}}" style="margin-bottom: 15px;"required> 
      <input name="wage_not_selected" value="{{rate.wage_not_selected}}" style="margin-bottom: 15px;"required> 
      <input name="skipped_solic" value="{{rate.skipped_solic}}" style="margin-bottom: 15px;"required> 
      <input name="source_ret_wo_note" value="{{rate.source_ret_wo_note}}" style="margin-bottom: 15px;"required> 
      <input name="unjustified_absence" value="{{rate.unjustified_absence}}" style="margin-bottom: 15px;"required> 
      <input name="wrong_pre_bid" value="{{rate.wrong_pre_bid}}" style="margin-bottom: 15px;"required> 
      <input name="wrong_categories" value="{{rate.wrong_categories}}" style="margin-bottom: 15px;"required> 
      <input name="wrong_geo_location" value="{{rate.wrong_geo_location}}" style="margin-bottom: 15px;"required> 
      <input name="incorrect_scope" value="{{rate.incorrect_scope}}" style="margin-bottom: 15px;"required> 
      <input name="wrong_text_format" value="{{rate.wrong_text_format}}" style="margin-bottom: 15px;"required> 
      <input name="auth_day_off" value="{{rate.auth_day_off}}" style="margin-bottom: 15px;"required> 
      <input name="unauth_day_off" value="{{rate.unauth_day_off}}" style="margin-bottom: 15px;"required> 
      <div class="col-auto my-1" >
        <button type="submit" class="btn btn-primary shadow-none" style="background-color: #6a57be;border: none;"><b> {{submit}}</b></button>
       <style>
           .btn-primary:hover {
    background-color: green !important;
    }
    
       </style>
      </div>
    </div>
    
    <!-- <div class='third'>
      <div>117.5697</div> 
      <div>72.1242</div> 
      <div>75.5735</div> 
      <div>14.4992</div> 
      <div>1.3147</div> 
      <div>11.3659</div> 
      <div>32.7273</div> 
      <div>131.7308</div>
      <div>60.1124</div>
      <div>24.2262</div>
      <div>26.4826</div>
      <div>34.5032</div>
      <div>17.9234</div>
    </div>  -->
  </div>

</form>  
  </div>
  </div>
</div>

<style>
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

html{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
  height: 100%;
  width: 100%;
background-color: #efcfb0;
}

.heading{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
}

.table{
 margin-left: 35px;
 margin-right: 35px;
 border: 2px solid #72ddf7;
 font-size: 1rem;
 text-align: left;
}

.fix-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: linear-gradient(to right, #72ddf7, #a8dadc);
}
.tbody{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height:350px;
  overflow-y: scroll;
  grid-gap: 0px;
   
}

::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.fix-div > div {
    padding: 15px;
  
}
.first > div{
    padding: 10px;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

.second > div{
    padding: 10px;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

.third > div{
  padding: 10px;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

@media screen and (max-width: 700px){
  .fix-div{
    font-size: 14px;
  }
  .tbody{
    font-size: 14px;
  }
}

@media screen and (max-width: 500px){
  .fix-div{
    font-size: 12px;
  }
}
@media screen and (max-width: 400px){
  .fix-div{
    font-size: 10px;
  }
}
body{
  background-color: #EFCFB0;
}
</style>
{% endblock content %}
