{% extends "user_invoice/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
 *
{
	border: 0;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;
}
*[contenteditable] { border-radius: 0.25em; min-width: 1em; outline: 0; }

*[contenteditable] { cursor: pointer; }

*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover { background: #DEF; box-shadow: 0 0 1em 0.5em #DEF; }

span[contenteditable] { display: inline-block; }

/* heading */

h1 { font: bold 100% sans-serif; letter-spacing: 0.5em; text-align: center; text-transform: uppercase; }
table { font-size: 75%; table-layout: fixed; width: 100%; }
table { border-collapse: collapse; border-spacing: 2px; }
th, td { border-width: 0px; padding: 0.5em; position: relative;  }
th, td { border-radius: 0.25em; border-style: solid; }
th { background: #EEE; border-color: #BBB; }
td { border-color: #DDD; }

html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }
html { background: #EFCFB0; cursor: default; }

body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); }


header { margin: 0 0 3em; }
header:after { clear: both; content: ""; display: table; }

header h1 { background: #000; border-radius: 0.25em; color: #FFF; margin: 0 0 1em; padding: 0.5em 0; }
header address { float: left; font-size: 75%; font-style: normal; line-height: 1.25; margin: 0 1em 1em 0; }
header address p { margin: 0 0 0.25em; }
header span, header img { display: block; float: right; }
header span { margin: 0 0 1em 1em; max-height: 25%; max-width: 60%; position: relative; }
header img { max-height: 100%; max-width: 100%; }
header input { cursor: pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 100%; }

/* article */

article, article address, table.meta, table.inventory { margin: 0 0 3em; }
article:after { clear: both; content: ""; display: table; }
article h1 { clip: rect(0 0 0 0); position: absolute; }

article address { float: left; font-size: 125%; font-weight: bold; }

/* table meta & balance */

table.meta, table.balance { float: right; width: 36%; }
table.meta:after, table.balance:after { clear: both; content: ""; display: table; }

/* table meta */

table.meta th { width: 40%; }
table.meta td { width: 60%; }

/* table items */

table.inventory { clear: both; width: 100%; }
table.inventory th { font-weight: bold; text-align: center; }

table.inventory td:nth-child(1) { width: 26%; }
table.inventory td:nth-child(2) { width: 38%; }
table.inventory td:nth-child(3) { text-align: right; width: 12%; }
table.inventory td:nth-child(4) { text-align: right; width: 12%; }
table.inventory td:nth-child(5) { text-align: right; width: 12%; }

/* table balance */

table.balance th, table.balance td { width: 50%; }
table.balance td { text-align: right; }

/* aside */

aside h1 { border: none; border-width: 0 0 1px; margin: 0 0 1em; }
aside h1 { border-color: #999; border-bottom-style: solid; }

/* javascript */





.add { margin: -2.5em 0 0; }

.add:hover { background: #00ADEE; }

.cut { opacity: 0; position: absolute; top: 0; left: -1.5em; }
.cut { -webkit-transition: opacity 100ms ease-in; }

tr:hover .cut { opacity: 1; }

@media print {
	* { -webkit-print-color-adjust: exact; }
	html { background: none; padding: 0; }
	body { box-shadow: none; margin: 0; }
	span:empty { display: none; }
	.add, .cut { display: none; }
}

@page { margin: 0; }

    </style>

    <div class='container'>	 
		<table  width="100%">
			<tr>
				<legend class="border-bottom mb-4" style="color: rgb(15, 9, 105);text-align: center;"><b> Invoice List </b></legend>
				<td align="right">
          {% if role == 'hr' or role == 'admin' %}
          <a href="{% url 'export_invoice_xls' %}{% if request.GET.search or request.GET.from_date or request.GET.to_date or request.GET.bank or request.GET.page %}?search={{request.GET.search}}&from_date={{request.GET.from_date}}&to_date={{request.GET.to_date}}&bank={{request.GET.bank}}&page={{request.GET.page}}{% endif %}"><button class="custom-btn btn-12" style="margin-bottom: 10px;"><span style="color: white;">To Excel</span><span>Export</span></button></a>
          {% endif %}
        </td>
			</tr>
		</table>
		<form>
			<table>
				<tr>

					
					<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
				
				
				
					<div class="form-group w-40" >
						<div class="input-group mb-3">
							
							<input type="text" name="search" style="width: 30px;height: 30px;" class="form-control border-secondary py-2" value="{{request.GET.search}}" placeholder="search">
							<div class="input-group-append">
								
							 <button class="input-group-text" style="height: 30px;" type="submit" name="submitbtn" value="Search"><i class="fa fa-search"></i>
								
							</div>
                <select   class="form-control"style="width:50px; height:30px;color:white;background-color:teal;margin-left:10px" name="bank"  onchange="this.form.submit()">
                  <option value="" style="color: white;"><b> Select Bank </b></option>
                  <option value="axis" {% if request.GET.bank == 'axis' %}selected{% endif %} style="color: white;"><b> AXIS</b></option>
                  <option value="hdfc" {% if request.GET.bank == 'hdfc' %}selected{% endif %} style="color: white;"><b> HDFC</b></option>
                  <option value="others" {% if request.GET.bank == 'others' %}selected{% endif %} style="color: white;"><b> Others</b></option>

    
                  <!-- {% for roledata in roles %}
                    <option value='{{roledata.id}}' style="color: white;"  {% if roledata.id == request.GET.role|add:"0"  %}  selected  {% endif %}><b>{{roledata.name}}</b> </option>
    
                  {% endfor %} -->

                </select>
							<p style="margin-left: 40px;"><b style="color: teal;"> From date :</b> <input type="date" name="from_date" value="{{request.GET.from_date}}"></p>
								<p style="margin-left: 40px;"><b style="color: teal;"> To Date :</b><input type="date" name="to_date" value="{{request.GET.to_date}}"></p>
						</div>	
					
						

					<!-- <td><input type="text" name="search" value="{{request.GET.search}}" placeholder="search"></td> -->
				
					<!-- <td><input type="submit" name="submitbtn" value="Search"></td> -->
				</tr>
			</table>
		</form>
		<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped  display" width="100%">
			<tr>
				<th style="color: teal;"><b> Employee Name </b></th>
				<th style="color: teal;"><b> Employee Id </b></th>
				<th style="color: teal;"><b> Invoice Type</b></th>
				<th style="color: teal;"><b> Phone No </b></th>
				<th style="color: teal;"><b> Total Deduction </b></th>
				<th style="color: teal;"><b> Total Payable </b></th>
        <th style="color: teal;"><b> Bank Name </b></th>
        <th style="color: teal;"><b> Acc No </b></th>
				<th style="color: teal;"><b> Invoice Date</b></th>
				<th style="color: teal;"><b> Invoice for</b></th>
				<th style="color: teal;"><b> Action</b></th>
			</tr>
			{% for invoice in invoices %}
			<tr>
				<td style="color: black;">{{invoice.emp_ownwer.name}}</td>
				<td style="color: black;">{{invoice.emp_ownwer.emp_id}}</td>
				<td style="color: black;">{{invoice.emp_ownwer.role.name}}</td>
				<td style="color: black;">{{invoice.emp_ownwer.phone_no}}</td>
				<td style="color: black;">{{invoice.total_deduction}}</td>
				<td style="color: black;">{{invoice.total_payable}}</td>
        <td style="color: black;">{% if invoice.bank_account.bank == 'others' %}{{invoice.bank_account.other_bank}}<br>({{invoice.bank_account.ifsc_other}}){% else %}{{invoice.bank_account.bank|upper}}{% endif %}</td>
        <td style="color: black;">{{invoice.bank_account.acc_no}}</td>
				<td style="color: black;">{{invoice.invoice_date}}</td>
				<td style="color: black;">{{invoice.monthdate|date:"M, Y"}}</td>
				<td style="color: black;"><a href="{% url 'pay_slip' invoice.pk %}"><button class="custom-btn btn-12"><span>Click!</span><span>Slip</span></button></a></td>
			</tr>
			<style>
				.btn-primary:hover {
		 background-color: green !important;
	 }


	 .btn-12{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

	</style>
			{% endfor %}
			
		</table>

		</div>

{% if invoices.paginator.num_pages > 1 %}

  <nav aria-label="Page navigation example" style="margin-bottom: 30px;">
  <ul class="pagination justify-content-center">
    {% if invoices.has_previous %}
      <li class="text-dark page-item" style="margin-bottom: 20px;"><a class="page-link text-primary font-weight-bolder" href="?page={{ invoices.previous_page_number }}{% if 'search' in query_param or 'from_date' in query_param or 'bank' in query_param %}&search={{query_param.search}}&from_date={{query_param.from_date}}&to_date={{query_param.to_date}}&bank={{query_param.bank}}{% endif %}">Previous</a></li>
    {% else %}
      <li class="page-item disabled" style="margin-bottom: 20px;"><a class="page-link text-primary font-weight-bolder" href="#">Previous</a></li>
    {% endif %}
    {% if invoices.number|add:'-4' > 1 %}
      <li class="text-dark page-item" style="margin-bottom: 20px;"><a class="page-link font-weight-bolder" href="?page=1{% if 'search' in query_param or 'from_date' in query_param or 'bank' in query_param %}&search={{query_param.search}}&from_date={{query_param.from_date}}&to_date={{query_param.to_date}}&bank={{query_param.bank}}{% endif %}">1</a></li>
      <li><a class="page-link text-primary font-weight-bolder" href="?page={{ invoices.number|add:'-5' }}{% if 'search' in query_param or 'from_date' in query_param or 'bank' in query_param %}&search={{query_param.search}}&from_date={{query_param.from_date}}&to_date={{query_param.to_date}}&bank={{query_param.bank}}{% endif %}">&hellip;</a></li>
    {% endif %}
    
    {% for i in invoices.paginator.page_range %}
      {% if invoices.number == i %}
        <li class="page-item active">
          <a class="active" style="" href="?page={{ i }}{% if 'search' in query_param or 'from_date' in query_param or 'bank' in query_param %}&search={{query_param.search}}&from_date={{query_param.from_date}}&to_date={{query_param.to_date}}&bank={{query_param.bank}}{% endif %}">{{i}}</a>
        </li>
      {% elif i > invoices.number|add:'-5' and i < invoices.number|add:'5' %}
        <li class="page-item {% if i == invoices.number %} active {% endif %}">
          <a class="page-link font-weight-bolder" href="?page={{ i }}{% if 'search' in query_param or 'from_date' in query_param or 'bank' in query_param %}&search={{query_param.search}}&from_date={{query_param.from_date}}&to_date={{query_param.to_date}}&bank={{query_param.bank}}{% endif %}">{{i}}</a>
        </li>
      {% endif %}
    {% endfor %}
    
    {% if invoices.paginator.num_pages > invoices.number|add:'4' %}
      <li class="page-item"><a class="page-link text-primary font-weight-bolder" href="?page={{ invoices.number|add:'5' }}{% if 'search' in query_param or 'from_date' in query_param or 'bank' in query_param %}&search={{query_param.search}}&from_date={{query_param.from_date}}&to_date={{query_param.to_date}}&bank={{query_param.bank}}{% endif %}">&hellip;</a></li>
      {% if book.number != invoices.paginator.num_pages %}
      <li class="text-dark page-item"><a class="page-link text-primary font-weight-bolder" href="?page={{ invoices.paginator.num_pages }}{% if 'search' in query_param or 'from_date' in query_param or 'bank' in query_param  %}&search={{query_param.search}}&from_date={{query_param.from_date}}&to_date={{query_param.to_date}}&bank={{query_param.bank}}{% endif %}">{{ invoices.paginator.num_pages }}</a></li>
    {% endif %}
    {% endif %}
    {% if invoices.has_next %}
      <li class="page-item"><a class="page-link text-primary font-weight-bolder" href="?page={{ invoices.next_page_number }}{% if 'search' in query_param or 'from_date' in query_param or 'bank' in query_param %}&search={{query_param.search}}&from_date={{query_param.from_date}}&to_date={{query_param.to_date}}&bank={{query_param.bank}}{% endif %}">Next</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link text-primary font-weight-bolder" href="#">Next</a></li>
    {% endif %}
    
  </ul>
</nav>
  
  {% endif %}	


<style type="text/css">
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: green;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color:yellow;}	
			
		  
</style>
		

{% endblock content %}