
{% extends "user_invoice/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
				.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
 
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 35px;
  width: 35px;
 
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;

  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: teal;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
	</style>
<style>
 *
{
	border: 0;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;
}
*[contenteditable] { border-radius: 0.25em; min-width: 1em; outline: 0; }

*[contenteditable] { cursor: pointer; }

*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover { background: #DEF; box-shadow: 0 0 1em 0.5em #DEF; }

span[contenteditable] { display: inline-block; }

/* heading */

h1 { font: bold 100% sans-serif; letter-spacing: 0.5em; text-align: center; text-transform: uppercase; }
table { font-size: 75%; table-layout: fixed; width: 100%; }
table { border-collapse: separate; border-spacing: 2px; }
th, td { border-width: 1px; padding: 0.5em; position: relative; text-align: left; }
th, td { border-radius: 0.25em; border-style: solid; }
th { background: #EEE; border-color: #BBB; }
td { border-color: #DDD; }

html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }
html { background: #EFCFB0; cursor: default; }

body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); }


header { margin: 0 0 3em; }
header:after { clear: both; content: ""; display: table; }

header h1 { background: #000; border-radius: 0.25em; color: #FFF; margin: 0 0 1em; padding: 0.5em 0; }
header address { float: left; font-size: 75%; font-style: normal; line-height: 1.25; margin: 0 1em 1em 0; }
header address p { margin: 0 0 0.25em; }
header span, header img { display: block; float: right; }
header span { margin: 0 0 1em 1em; max-height: 25%; max-width: 60%; position: relative; }
header img { max-height: 100%; max-width: 100%; }
header input { cursor: pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 100%; }

/* article */

article, article address, table.meta, table.inventory { margin: 0 0 3em; }
article:after { clear: both; content: ""; display: table; }
article h1 { clip: rect(0 0 0 0); position: absolute; }

article address { float: left; font-size: 125%; font-weight: bold; }

/* table meta & balance */

table.meta, table.balance { float: right; width: 36%; }
table.meta:after, table.balance:after { clear: both; content: ""; display: table; }

/* table meta */

table.meta th { width: 40%; }
table.meta td { width: 60%; }

/* table items */

table.inventory { clear: both; width: 100%; }
table.inventory th { font-weight: bold; text-align: center; }

table.inventory td:nth-child(1) { width: 26%; }
table.inventory td:nth-child(2) { width: 38%; }
table.inventory td:nth-child(3) { text-align: right; width: 12%; }
table.inventory td:nth-child(4) { text-align: right; width: 12%; }
table.inventory td:nth-child(5) { text-align: right; width: 12%; }

/* table balance */

table.balance th, table.balance td { width: 50%; }
table.balance td { text-align: right; }

/* aside */

aside h1 { border: none; border-width: 0 0 1px; margin: 0 0 1em; }
aside h1 { border-color: #999; border-bottom-style: solid; }

/* javascript */





.add { margin: -2.5em 0 0; }

.add:hover { background: #00ADEE; }

.cut { opacity: 0; position: absolute; top: 0; left: -1.5em; }
.cut { -webkit-transition: opacity 100ms ease-in; }

tr:hover .cut { opacity: 1; }

@media print {
	* { -webkit-print-color-adjust: exact; }
	html { background: none; padding: 0; }
	body { box-shadow: none; margin: 0; }
	span:empty { display: none; }
	.add, .cut { display: none; }
}

@page { margin: 0; }

    </style>
    <style>
		.btn-primary:hover {
			background-color: green !important;
		}
	</style>
<form method='POST'>
	{% csrf_token %}
	<article>
		<legend class="border-bottom mb-4" style="color: rgb(15, 9, 105);text-align: center;"><b> Internet Researcher Specialist Invoice </b></legend>
		<aside>

			<div >
				<p style="color: red;" ><strong>**Please fill in the green fields according to your reqiurements </strong></p>
				<p style="color: red;"><strong>**Monthly compensation is inclusive of government taxes, fees and obligations. Upon payment, Contractor agrees to make payment of these taxes and fees to appropriate governmental organizations.</strong> </p>
			</div>
		</aside>
			  <div class="form-group">
				<p><u class="spelling">Please fill in the details below.</u> </p>
	<style>
		.spelling {
	  text-decoration-line: underline;
	 
	  text-decoration-color: black;
	}
	</style>
	
			<label for="formGropuNameInput">Name*</label>
			<input name="name" class="form-control" id="formGroupNameInput" value="{{employee.name}}" placeholder="Enter your name" required readonly>
			</div>
			<div class="form-group">	
			<label for="formGropuNameInput">Address*</label>
			<input name="address" class="form-control" id="formGroupNameInput" placeholder="Enter your address" value='{{employee.address}}' required readonly>
			</div>	
			<div class="form-group">
			<label for="mobile_no">Mobile No*</label>
			<input type="text" class="form-control" id="mobile_no" name="mobile_no"  value="{{employee.phone_no}}" pattern="[6-9]{1}[0-9]{9}" maxlength="10" placeholder="Enter Mobile No" readonly>

			</div>	
			<div class="form-group">
			<label for="formGroupExampleInput2">Invoice Date</label>
			<input type="date" id="invoice_date" value="{{invoice.invoice_date|date:'Y-m-d'}}" name="invoice_date">
			</div>
		
		<div class="form-group">
		<label for="formGroupExampleInput2">Month and Year Billed For:</label>
		<input type="month" id="monthdate" name="monthdate" value="{{invoice.monthdate|date:'Y-m'}}">

		</div>	
			<div class="form-group">
			  <label for="formGroupDistrict">Select IR Type</label>
			  <select name="emp_type" id="formGroupDistrict" required>
				<option {% if invoice.emp_type == 'basic' %}selected{% endif %} value='basic'>Basic</option>
				<option {% if invoice.emp_type == 'advanced' %}selected{% endif %} value='advanced'>Advance</option>
				
			  </select>
			  
			</div>
			<div class="form-group">
			<label for="formGroupExampleInput2">Billing Account : </label>
			{% for account in employee.employee_accounts.all %}
			<!-- <input type="date" id="invoice_date" name="invoice_date" value="{{invoice.invoice_date|date:'Y-m-d'}}"> -->
			<input type="radio" class="option-input radio" name="bank_account" {% if invoice.bank_account.pk == account.id %}checked="checked"{% endif %} value={{account.id}}>{% if account.bank == 'others' %}{{account.other_bank|upper}}{% else %}{{account.bank|upper}}{% endif %}
			{% endfor %}
		</div>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

				 
			  </div>	
		  <table class='in'>
			<thead>
				<tr>
				
					<th><span style="font-weight:bold">Description</span></th>
					<th><span style="font-weight:bold">Quantity</span></th>
					<th><span style="font-weight:bold">Rate</span></th>
					<th><span style="font-weight:bold">Total</span></th>
				</tr>
			</thead>
			
			<tr>
				<td><span style="font-weight:bold">Production Pay</span></td>
					<td><input id="prod_pay" type="number" style="background-color: rgb(96, 221, 96);" type="text" value="{% if invoice.production_pay %}{{invoice.production_pay}}{% else %}0{% endif %}" oninput="calci()" name="production_pay" readonly="" /></td>
					<td><span data-prefix>$</span><input value="1"  id="rate_prod_pay" type="text" readonly="" /></td>
					<td><span data-prefix>$</span><input value="0" id="prod_pay_amt" readonly=""/></td>			
			</tr>
			<tr>
				<td><span style="font-weight:bold">WDS Solicitaion</span></td>
					<td><input id="wds_solicitaion"  type="number" style="background-color: rgb(96, 221, 96);" type="text" value="{% if invoice.wds_solicitaion %}{{invoice.wds_solicitaion}}{% else %}0{% endif %}"  name="wds_solicitaion" readonly="" /></td>
					<td><span data-prefix>$</span><input value="{{rates.wds_solicitaion}}" id="rate_wds_solicitaion" type="text" readonly="" /></td>
					<td><span data-prefix>$</span><input id="wds_solicitaion_amt" value="0" readonly="" /></td>			
			</tr>
			<tr>
				<td><span style="font-weight:bold">WDS Source</span></td>
					<td><input  type="number" style="background-color: rgb(96, 221, 96);" type="text" value="{% if invoice.wds_source %}{{invoice.wds_source}}{% else %}0{% endif %}" id="wds_source" name="wds_source" readonly="" /></td>
					<td><span data-prefix>$</span><input value="{{rates.wds_source}}" id="rate_wds_source" type="text" readonly=""  /></td>
					<td><span data-prefix>$</span><input id="wds_source_amt" value="0" readonly="" /></td>			
			</tr>
			<tr>
				<td><span style="font-weight:bold">WDS Edit</span></td>
					<td><input type="number" id="wds_edit" style="background-color: rgb(96, 221, 96);" type="text" value="{% if invoice.wds_edit %}{{invoice.wds_edit}}{% else %}0{% endif %}"  name="wds_edit" readonly="" /></td>
					<td><span data-prefix>$</span><input value="{{rates.wds_edit}}" id="rate_wds_edit" type="text" readonly="" /></td>
					<td><span data-prefix>$</span><input id="wds_edit_amt" value="0" readonly="" /></td>			
			</tr>
			<tr>
				<td><span style="font-weight:bold">WDS Import</span></td>
					<td><input type="number" id="wds_import" style="background-color: rgb(96, 221, 96);" type="text" value="{% if invoice.wds_import %}{{invoice.wds_import}}{% else %}0{% endif %}"  name="wds_import" readonly="" /></td>
					<td><span data-prefix>$</span><input value="{{rates.wds_import}}" id="rate_wds_import" type="text" readonly="" /></td>
					<td><span data-prefix>$</span><input id="wds_import_amt" value="0" readonly="" /></td>			
			</tr>
			<tr>
				<td><span style="font-weight:bold">File Upload</span></td>
					<td><input type="number" id="file_upload" style="background-color: rgb(96, 221, 96);" type="text" value="{% if invoice.file_upload %}{{invoice.file_upload}}{% else %}0{% endif %}"  name="file_upload" readonly="" /></td>
					<td><span data-prefix>$</span><input id="rate_file_upload" value="{{rates.file_attach}}" type="text" readonly="" /></td>
					<td><span data-prefix>$</span><input id="file_upload_amt" value="0" readonly="" /></td>			
			</tr>
			<tr>
				<td><span style="font-weight:bold">Fixed Salary</span></td>
					<td><input type="number" id="fixed_salary" style="background-color: rgb(96, 221, 96);" type="text" value="{% if invoice.fixed_salary %}{{invoice.fixed_salary}}{% else %}0{% endif %}" oninput="oninput_fixed()"  name="fixed_salary" /></td>
					<td><span data-prefix>$</span><input value="1" type="text" readonly=""/></td>
					<td><span data-prefix>$</span><input value="0" id="fixed_salary_amt" readonly="" /></td>			
			</tr>				
					
			<!-- <tr>
				<td></a><span style="color:#6a57be; font-weight:bold">OTHER WORK: </span></td>
			</tr>				
			
			<tr>
				<td></a><span style="font-weight:bold">Extra Hours Worked</span></td>
					<td><input id="extra_hours_worked" type="number" style="background-color: rgb(96, 221, 96);" type="text" value="{% if invoice.extra_hours_worked %}{{invoice.extra_hours_worked}}{% else %}0{% endif %}" oninput="godcal()"  name="extra_hours_worked" /></td>
					<td><span data-prefix>$</span><input id="rate_extra_hours_worked"  value="{{rates.extra_hours}}" id="g2" type="text" oninput="godcal()" /></td>
					<td><span data-prefix>$</span><input value="0" id="extra_hours_worked_amt" /></td>
				 
			
			</tr> -->
			<tr>
				<td colspan="3" style="color:#339107; font-weight:bold" align="right">
					Total Amount: <span data-prefix>$</span><input id = "amtotal" name = "money" />
				</td>					
			</tr>
								
			<tr>
			
				<th><span style="color:#6a57be;font-weight:bold">ERROR DETAILS:</span></th>
			</tr>
		</thead>
				
		<thead>
			<tr>
			
				<th><span style="font-weight:bold">Description</span></th>
				<th><span style="font-weight:bold">Rate</span></th>
				<th><span style="font-weight:bold;color: red;">Errors Incurred</span></th>
				<th><span style="font-weight:bold;color: red;">Deduction</span></th>
			</tr>
		</thead>
		<tr>
			<td></a><span style="font-weight:bold">Authorized Days Off
			</span></td>
			<td>
				<span data-prefix>$</span><input value="{{rates.auth_day_off}}" readonly="" class ="txtMult" id="multauth1" name="txtEmmail"/>
			</td>
			<td>
				<input value="{% if invoice.authorised_day_off %}{{invoice.authorised_day_off}}{% else %}0{% endif %}" type="number" name="authorised_day_off" id="auth_leave_below" style="background-color: rgb(96, 221, 96);" class ="txtMult" />
			</td>
			<td>
				<span data-prefix>$</span><span class="multTotal" id ="totalauth">0.00</span>
			</td>
		</tr>

        <tr>
			<td></a><span style="font-weight:bold">Unauthorized Days Off
			</span></td>
			<td>
				<span data-prefix>$</span><input value="{{rates.unauth_day_off}}" readonly="" class ="txtMult" name="txtEmmail"/>
			</td>
			<td>
				<input value="{% if invoice.unauthorised_day_off %}{{invoice.unauthorised_day_off}}{% else %}0{% endif %}" type="number" name="unauthorised_day_off" style="background-color: rgb(96, 221, 96);" class ="txtMult" />
			</td>
			<td>
				<span data-prefix>$</span><span class="multTotal">0.00</span>
			</td>
		</tr>

		<tr>
			<td colspan="3" style="color:#c90000; font-weight:bold" align="right">
				Total Error Deduction: <span data-prefix>$</span><span id="grandTotal">{{invoice.total_deduction}}</span>
				<input id = "hidden_total_deduction" type='hidden' name='total_deduction' value="{{invoice.total_deduction}}"/>
			</td>
			
		</tr>
				
		<tr>
			<td colspan="3" style="color:#339107; font-weight:bold" align="right">
				 Total Amount Payable: <span data-prefix>$</span><input name='total_payable' id = "finaltotal" value="{{invoice.total_payable}}" onclick="minus()"/>
			</td>
			
		</tr>



		</table>
		</table>
		<div class="col-auto my-1">
			<button type="submit" class="btn btn-primary shadow-none" style="background-color: #6a57be;border: none;margin-bottom: 20px;"><b> Submit</b></button>
		   
		  </div>
	
	</article>	
</form>	

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
				//iterate through each textboxes and add keyup
				//handler to trigger sum event
				$(".txt").each(function() {
					$(this).keyup(function(){
						calculateSum();
					});
				});
			});

			function godtotal(){
				var prod_pay_amt        = parseFloat($("#prod_pay_amt").val())
				var wds_solicitaion_amt = parseFloat($("#wds_solicitaion_amt").val())
				var wds_source_amt      = parseFloat($("#wds_source_amt").val())
				var wds_edit_amt        = parseFloat($("#wds_edit_amt").val())
				var wds_import_amt      = parseFloat($("#wds_import_amt").val())
				var file_upload_amt     = parseFloat($("#file_upload_amt").val())
				var fixed_salary_amt    = parseFloat($("#fixed_salary_amt").val())
				var total = prod_pay_amt+wds_solicitaion_amt+wds_source_amt+wds_edit_amt+wds_import_amt+file_upload_amt+fixed_salary_amt
				$("#amtotal").val(total)
			}
			function calculateSum() {
				var sum = 0;
				//iterate through each textboxes and add the values
				$(".txt").each(function() {
					//add only if the value is number
					if(!isNaN(this.value) && this.value.length!=0) {
						sum += parseFloat(this.value);						
					}
				});
				$("#sum").html(sum.toFixed(2));
				$("#box1").html(sum.toFixed(2));
			}

			function calculate() {				
				var quan = document.getElementsByName('quantity')[0].value;
				var pri = document.getElementById('box1').innerHTML;
				var pr = parseInt(pri, 10);
				var tot = quan * pr;
				document.getElementById("result").value = tot.toFixed(2);;
			}
		</script>	

<script>
	$(document).ready(function(){
		//iterate through each textboxes and add keyup
		//handler to trigger sum event
		$(".txt").each(function() {

			$(this).keyup(function(){
				calculateSum();
			});
		});

	});

	function calculateSum() {
		var sum = 0;
		//iterate through each textboxes and add the values
		$(".txt").each(function() {

			//add only if the value is number
			if(!isNaN(this.value) && this.value.length!=0) {
				sum += parseFloat(this.value);
			}
			var quan = document.getElementsByName('quantity')[0].value;
			var tot = quan * sum;
			document.getElementById("result").value = tot.toFixed(2);
		});
		//.toFixed() method will roundoff the final sum to 2 decimal places
		$("#sum").html(sum.toFixed(2));
		$("#box1").html(sum.toFixed(2));
		// var sumtwo = $('#sumtwo').val();
		// var rate = $('#rate').val();
		// var totalTotalOne = (sumtwo * rate);
		// $("#wtotal").html(totalTotalOne.toFixed(2));
	}

	function calculate(tot) {
		var quan = document.getElementsByName('quantity')[0].value;
		var pri = document.getElementById('box1').innerHTML;
		var pr = parseInt(pri, 10);
		var tot = quan * pr;
		document.getElementById("result").value = tot.toFixed(2);;
	}
</script>

<script>
	$(document).ready(function(){
		/*cal()
		calci()*/
		calculateSum()
		/*calculate()
		godcal()
		fcal()
		sum()*/
	})
	$(function(){
                $('.in input').each(function(){
                    var p=$(this).parent().parent()
                    var m=p.find('input.txtMult')
                    var mul=parseFloat($(m[0]).val()*$(m[1]).val()).toFixed(2)
                    var res=p.find('.multTotal')
                    res.html(mul);
                    /*var total=0;
                    $('.in .multTotal').each(function(){
                        total+=parseFloat($(this).html())
                    })
                    $('.in #grandTotal').html(parseFloat(total).toFixed(2))
                    $('.in #hidden_total_deduction').val(parseFloat(total).toFixed(2))*/
                });
            })
</script>

<script>
	$(function(){
	    $('.in input').change(function(){
	        var p=$(this).parent().parent()
	        var m=p.find('input.txtMult')
	        var mul=parseFloat($(m[0]).val()*$(m[1]).val()).toFixed(2)
	        var res=p.find('.multTotal')
	        res.html(mul);
	        var total=0;
	        $('.in .multTotal').each(function(){
	            total+=parseFloat($(this).html())
	        })
	        $('.in #grandTotal').html(parseFloat(total).toFixed(2))
	        $('.in #hidden_total_deduction').val(parseFloat(total).toFixed(2))
	    });
	})
</script>
<script>
	function minus(tot) {
		var quan = document.getElementsByName('money')[0].value;
		var pri = document.getElementById('grandTotal').innerHTML;
		var pr = parseInt(pri, 10);
		var tot = quan - pr;

		document.getElementById("finaltotal").value = tot.toFixed(2);9498
	}
</script>
<script type="text/javascript">
	function oninput_fixed(){
		var fixed_salary = $("#fixed_salary").val()
		$("#fixed_salary_amt").val(fixed_salary)
		godtotal()

	/*$(function(){*/
        $('.in input').each(function(){
            var p=$(this).parent().parent()
            var m=p.find('input.txtMult')
            var mul=parseFloat($(m[0]).val()*$(m[1]).val()).toFixed(2)
            var res=p.find('.multTotal')
            res.html(mul);
            var total=0;
            $('.in .multTotal').each(function(){
                total+=parseFloat($(this).html())
            })
            $('.in #grandTotal').html(parseFloat(total).toFixed(2))
            $('.in #hidden_total_deduction').val(parseFloat(total).toFixed(2))
        });
        minus()
	}

	function get_leave(url){
		$("#monthdate").change(function(){
			var date = $(this).val()
			$.ajax({
				url  : url,
				data : {
				    date  : date,
				  },
				type : 'GET',
				dataType: 'json',
				success: function (data) {
					$("#auth_leave_below").val(data.leaves)	
					
					if (!$.isEmptyObject(data.wds)) {
						$("#wds_solicitaion").val(data.wds['0']['total_solicitation'])
						$("#wds_solicitaion_amt").val(data.wds['0']['wds_solocitaion_amt'])
						$("#wds_source").val(data.wds['0']['total_source_count'])
						$("#wds_source_amt").val(data.wds['0']['wds_source_amt'])
						$("#wds_edit").val(data.wds['0']['total_edits'])
						$("#wds_edit_amt").val(data.wds['0']['wds_edits_amt'])
					}
					if (!$.isEmptyObject(data.pp)) {
						$("#prod_pay").val(data.pp['Sub Total'])
						$("#prod_pay_amt").val(data.pp['Sub Total'])
					}	
					godtotal()

					/*$(function(){*/
		                $('.in input').each(function(){
		                    var p=$(this).parent().parent()
		                    var m=p.find('input.txtMult')
		                    var mul=parseFloat($(m[0]).val()*$(m[1]).val()).toFixed(2)
		                    var res=p.find('.multTotal')
		                    res.html(mul);
		                    var total=0;
		                    $('.in .multTotal').each(function(){
		                        total+=parseFloat($(this).html())
		                    })
		                    $('.in #grandTotal').html(parseFloat(total).toFixed(2))
		                    $('.in #hidden_total_deduction').val(parseFloat(total).toFixed(2))
		                });
		                minus()
				}
				
		    });
		})
	}
	get_leave('{% url "ajax_get_leave" %}')
	{% if 'Add' in submit %}
		document.querySelector("#invoice_date").valueAsDate = new Date();
	{% endif %}
</script>

{% endblock content %}
