
{% extends "user_invoice/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form method="PINOST">
	{% csrf_token %}
	<article>
		<legend class="border-bottom mb-4" style="color: black;text-align: center;"><b> BID OCEAN CONSULTANCY </b></legend>
			  <p style="text-align: center;text-decoration: underline;"> HOTEL SONAMLA BUILDING, INDIRA BYEPASS, AMDO GOLAI, GANGTOK, EAST SIKKIM, PIN 737102 </p>
			  <aside>
		
				
			</aside>

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		  <table class='in'>
			
			
		
			
				
				
				<tr>
					<td style="width: 150px;"></a><span style="font-weight:bold">Employee Name:</span></td>
					<td>
						<input  type="text" value="{{invoice.emp_ownwer.name}}"  name="employee_name"/>
					</td>
					
				
				</tr>	
				
				<tr>
					<td style="width: 150px;"></a><span style="font-weight:bold">Designation:</span></td>
					<td>
						<input  type="text" value="{{invoice.emp_ownwer.designation}}"  name="designation"/>
					</td>
					
				
				</tr>	
				<tr>
					<td style="width: 150px;"></a><span style="font-weight:bold">Employee PF ID:</span></td>
					<td>
						<input  type="text"   name="pf_id"/>
					</td>
					
				
				</tr>	
				<tr>
					<td style="width: 150px;"></a><span style="font-weight:bold">Employee ESI ID: </span></td>
					<td>
						<input  type="text"   name="esi_id"/>
					</td>
					
				
				</tr>	
				<tr>
					<td style="width: 150px;"></a><span style="font-weight:bold">Month of Deduction:</span></td>
					<td>
						<input  type="text" value="{{invoice.monthdate|date:'M Y'}}"  name="month_of_deduction"/>
					</td>
					
				
				</tr>	
				<tr>
					<td style="width: 150px;"></a><span style="font-weight:bold">Dollar Rate:</span></td>
					<td>
						<input  type="text"   name="dollar_rate"/>
					</td>
					
				
				</tr>	
				<tr>
					<td style="width: 150px;"></a><span style="font-weight:bold"> % Deduction:</span></td>
					<td>
						<input  type="text"   name="what_percentage_deduction"/>
					</td>
					<td>
						<input  type="text"   name="percentage_deduction_value"/>
					</td>
					
				
				</tr>	
				<tr>
					<td style="width: 150px;"></a><span style="font-weight:bold">After % Deduction:</span></td>
					<td>
						<input  type="text"   name="after_percentage_deduction"/>
					</td>
					
				
				</tr>	
			
			
			<style>
				.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
 
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 35px;
  width: 35px;
 
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;

  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: teal;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
			</style>
	

		
		
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		  <table class='in'>
			<thead>
				<tr>
				
					<th><span style="font-weight:bold">Earnings</span></th>
					<th><span style="font-weight:bold">Amount (₹)</span></th>
					<th><span style="font-weight:bold">Deductions</span></th>
					<th><span style="font-weight:bold">Amount (₹)</span></th>
				</tr>
			</thead>
			
			<tr>
				<td></a><span style="font-weight:bold">Basic Salary</span></td>

					<td><input id="basic_salary" name="basic_salary"    /></td>
					<td><input  /></td>

					<td><input   /></td>
				 
			
			</tr>
			<tr>
				<td></a><span style="font-weight:bold">House Rent Allowances</span></td>

					<td><input  /></td>
					<td><input /></td>

					<td><input  /></td>
				 
			
			</tr>
			<tr>
				<td></a><span style="font-weight:bold">City Allowances</span></td>

					<td><input  /></td>
					<td><input  /></td>

					<td><input   /></td>
				 
			
			</tr>
			<tr>
				<td></a><span style="font-weight:bold">Conveyance Allowance</span></td>

					<td><input  /></td>
					<td><input  /></td>

					<td><input  /></td>
				 
			
			</tr>
			<tr>
				<td></a><span style="font-weight:bold">Education Allowance</span></td>

					<td><input  /></td>
					<td><input /></td>

					<td><input  /></td>
				 
			
			</tr>
			<tr>
				<td></a><span style="font-weight:bold">Medical Allowance</span></td>

					<td><input /></td>
					<td><input  /></td>

					<td><input  /></td>
				 
			
			</tr>
			<tr>
				<td></a><span style="font-weight:bold">Special Allowance</span></td>

					<td><input  /></td>
					<td><input /></td>

					<td><input  /></td>
				 
			
			</tr>
			<tr>
				<td></a><span style="font-weight:bold">Commission</span></td>

					<td><input /></td>
					<td><input /></td>

					<td><input /></td>
				 
			
			</tr>
		
		
		
				
			


				<tr>
					<td colspan="3" style=" font-weight:bold" align="right">
						Gross Salary: <span data-prefix>₹</span><input  />
					</td>
					
				</tr>
				<tr>
					<td colspan="3" style="font-weight:bold" align="right">
						Total Deductions: <span data-prefix>₹</span><input  />
					</td>
					
				</tr>
				<tr>
					<td colspan="3" style="color:#339107; font-weight:bold" align="right">
						Net Salary Payable: <span data-prefix>₹</span><input  />
					</td>
					
				</tr>
				
				<tr>
					<td></a><span style=" font-weight:bold">Payment Informations:</span></td>
					
					
				</tr>
				
				<tr>
					<td></a><span style="font-weight:bold">Cheque/Cash:</span></td>
					<td>
						<input    name="cheque/Cash"/>
					</td>
					
				
				</tr>	
				<tr>
					<td></a><span style="font-weight:bold">Cheque No:</span></td>
					<td>
						<input name="cheque_no" />
					</td>
					
				
				</tr>
				
				<tr>
					<td></a><span style="font-weight:bold">Date</span></td>
					<td>
						<input type="date" />
					</td>
					
					
				</tr>
				<tr>
					<td></a><span style="font-weight:bold">Bank</span></td>
					<td>
						<input name="bank" />
					</td>					
				</tr>
				


		</table>
	
	
			

	
		</table>


		<div class="col-auto my-1">
			<button type="button" id="printPageButton"  onclick="window.print()" class="btn btn-primary shadow-none" style="background-color: teal;border: none;margin-top: 10px;margin-left: 550px;"><b> Download</b></button>
		   <style>
			   .btn-primary:hover {
		background-color: green !important;
	
	}
	@media print {
  #printPageButton {
    display: none;
  }
}
		   </style>
		  </div>

		<div class="col-auto my-1">
			<button type="submit" id="submit_button" class="btn btn-primary shadow-none" style="background-color: #6a57be;border: none;margin-top: 10px;margin-left: 550px;"><b> Submit</b></button>
		   <style>
			   .btn-primary:hover {
		background-color: green !important;
	
	}
	@media print {
  #submit_button {
    display: none;
  }
}
		   </style>
		  </div>
		
	</article>

	
</form>	
	<style>

		
 *
{
	border: 0;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;
}
*[contenteditable] { border-radius: 0.25em; min-width: 1em; outline: 0; }

*[contenteditable] { cursor: pointer; }

*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover { background: #DEF; box-shadow: 0 0 1em 0.5em #DEF; }

span[contenteditable] { display: inline-block; }

/* heading */

h1 { font: bold 100% sans-serif; letter-spacing: 0.5em; text-align: center; text-transform: uppercase; }
table { font-size: 75%; table-layout: fixed; width: 100%; }
table { border-collapse: separate; border-spacing: 2px; }
th, td { border-width: 1px; padding: 0.5em; position: relative; text-align: left; }
th, td { border-radius: 0.25em; border-style: solid; }
th { background: #EEE; border-color: #BBB; }
td { border-color: #DDD; }

html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }
html { background: #EFCFB0; cursor: default; }

body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); }


header { margin: 0 0 3em; }
header:after { clear: both; content: ""; display: table; }

header h1 { background: #000; border-radius: 0.25em; color: #FFF; margin: 0 0 1em; padding: 0.5em 0; }
header address { float: left; font-size: 75%; font-style: normal; line-height: 1.25; margin: 0 1em 1em 0; }
header address p { margin: 0 0 0.25em; }
header span, header img { display: block; float: right; }
header span { margin: 0 0 1em 1em; max-height: 25%; max-width: 60%; position: relative; }
header img { max-height: 100%; max-width: 100%; }
header input { cursor: pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 100%; }

/* article */

article, article address, table.meta, table.inventory { margin: 0 0 3em; }
article:after { clear: both; content: ""; display: table; }
article h1 { clip: rect(0 0 0 0); position: absolute; }

article address { float: left; font-size: 125%; font-weight: bold; }

/* table meta & balance */

table.meta, table.balance { float: right; width: 36%; }
table.meta:after, table.balance:after { clear: both; content: ""; display: table; }

/* table meta */

table.meta th { width: 40%; }
table.meta td { width: 60%; }

/* table items */

table.inventory { clear: both; width: 100%; }
table.inventory th { font-weight: bold; text-align: center; }

table.inventory td:nth-child(1) { width: 26%; }
table.inventory td:nth-child(2) { width: 38%; }
table.inventory td:nth-child(3) { text-align: right; width: 12%; }
table.inventory td:nth-child(4) { text-align: right; width: 12%; }
table.inventory td:nth-child(5) { text-align: right; width: 12%; }

/* table balance */

table.balance th, table.balance td { width: 50%; }
table.balance td { text-align: right; }

/* aside */

aside h1 { border: none; border-width: 0 0 1px; margin: 0 0 1em; }
aside h1 { border-color: #999; border-bottom-style: solid; }

/* javascript */





.add { margin: -2.5em 0 0; }

.add:hover { background: #00ADEE; }

.cut { opacity: 0; position: absolute; top: 0; left: -1.5em; }
.cut { -webkit-transition: opacity 100ms ease-in; }

tr:hover .cut { opacity: 1; }

@media print {
	* { -webkit-print-color-adjust: exact; }
	html { background: none; padding: 0; }
	body { box-shadow: none; margin: 0; }
	span:empty { display: none; }
	.add, .cut { display: none; }
}

@page { margin: 0; }

    </style>
  



{% endblock content %}